NET   "ddr3_addr[11]"                          LOC = "W1"    |    ;
NET   "ddr3_addr[13]"                          LOC = "Y1"    |    ;
NET   "ddr3_addr[1]"                           LOC = "U1"    |    ;
NET   "ddr3_addr[2]"                           LOC = "Y2"    |    ;
NET   "ddr3_addr[4]"                           LOC = "U2"    |    ;
NET   "ddr3_addr[5]"                           LOC = "U3"    |    ;
NET   "ddr3_addr[6]"                           LOC = "T1"    |    ;
NET   "ddr3_addr[7]"                           LOC = "W2"    |    ;
NET   "ddr3_addr[8]"                           LOC = "R2"    |    ;
NET   "ddr3_addr[9]"                           LOC = "R3"    |    ;
NET   "ddr3_ba[2]"                             LOC = "T3"    |    ;
NET   "ddr3_dq[13]"                            LOC = "AB5"   |    ;
NET   "ddr3_dq[2]"                             LOC = "AA5"   |    ;
NET   "ddr3_dqs_n[1]"                          LOC = "AA3"   |    ;
NET   "ddr3_dqs_p[1]"                          LOC = "Y3"    |    ;
NET   "ddr3_odt[0]"                            LOC = "V3"    |    ;
NET   "ddr3_reset_n"                           LOC = "AB2"   |    ;
NET   "ddr3_we_n"                              LOC = "AB3"   |    ;
